.aplRendererWindow {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 0;
}

.aplRendererViewport {
    display: flex;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.5);
}