#captionsScrim {
    position: fixed;
    bottom: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    pointer-events: none;
}

#captionsView {
    position: fixed;
    bottom : 0;
    left: 5%;
    width: 90%;
    font-size: 6vmin;
    font-family: sans-serif;
    color: white;
    text-align: left;
    padding-bottom: 2vh;
    margin: 0 auto;
}