.bg {
    background-color: #232F3E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.alexaLogo {
    background-image: url("../assets/horizontal_RGB_color_whitetext.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    height: 10%;
}

.usage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.deviceDescription {
    font-size: 40px;
    font-family: sans-serif;
    color: lightgray;
    padding-top: 2vh;
    text-align: center;
}

.howToTalk {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    color: lightgray;
    padding-top: 2vh;
    text-align: center;
}