:root {
    --display-color: rgb(2, 14, 19);
}

:focus { 
    outline: none; 
}

body, html {
    overflow: hidden;
    background-color: black
}

* {
    user-select: none;
}

#displayContainer {
    position: absolute;
    padding: 0;
    margin: 0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    transform-origin: 0 0;

    display: flex;

    flex-direction: column;
    justify-content: flex-end;
    background-color:  var(--display-color);
}
